@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Domine&family=Roboto+Slab:wght@200;300;400&family=Ysabeau+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Domine&family=Roboto+Slab:wght@200;300;400&display=swap');

.sidemain {
  display: flex;
}

.sidebar {
  /* background-color: rgb(135, 135, 135);*/
  width: 10vw;
  height: 100vh;
  transition: transform 0.3s ease-in;
}

.main {
  /* background-color: aquamarine; */
  width: 90vw;
  height: 100vh;
  /* display: flex; */
}

.main .contact {
  text-align: center;
}

.inmain {
  /* background-color: blue; */
  width: 80vw;
  height: 80vh;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.inmain .info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 50vw;
  /* background-color: rgb(224, 181, 125);  */

}

.inmain .pic {
  height: 80vh;
  width: 30vw;
  position: absolute;
  bottom: 0;
  right: 100px;
  /* background-color: #0077a2; */
}
.inmain .pic img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s left 1s;
}
.inmain .pic:hover .shape{
  bottom: 40px;

}
.inmain .pic:hover .boy{
  left: 45%;

}

.hello {
  font-size: 40px;
  margin: auto;
  margin-left: 50px;
  display: inline-block;
  color: #0563bb;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Ysabeau SC', sans-serif;
}

div p {
  font-size: 30px;
}

.sidebar .tooltip i {
  padding: 12px;
  border: 2px solid rgb(253, 248, 248);
  border-radius: 30px;
  background-color: #ede5e5;
  color: #090808;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.sidebar .tooltip i:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: blue;
  cursor: pointer;

}

.tooltip {
  position: relative;
  font-weight: 900;
  padding-top: 80px;
  cursor: pointer;
  text-align: center;
}

.tooltip a {
  text-decoration: none;
  color: #333;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 60px;
  background-color: #6767fc;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s;
  bottom: 15px;

}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  /* background-color: rgb(94, 94, 192); */
}

.icon svg:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: blue;
  cursor: pointer;

}

.icon svg {
  padding: 13px;
  border: 2px solid rgb(253, 248, 248);
  border-radius: 30px;
  background-color: #ede5e5;
  color: #090808;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}


.hamburger {
  position: absolute;
  cursor: pointer;
  left: 10px;
  top: 10px;
}

.ham {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: -5px;
  display: none;
}

.cross {
  width: 15px;
  height: 15px;
  margin-left: 50px;
  margin-top: 3px;
  display: none;
}


.address {
  /* background-color: #ba5050;*/
  width: 36vw;
}

form {
  /* background-color: rgb(164, 127, 79);*/
  width: 38vw;
}

form input {
  margin-top: 35px;
  border: 1px solid rgb(2, 158, 206);
}

.nameemail {
  width: 47.9%;
  height: 30px;

}

.subject {
  width: 98.5%;
  margin-top: 20px;
  height: 30px;
}

.message {
  width: 98.5%;
  height: 100px;
  margin-top: 20px;
  border: 1px solid rgb(2, 158, 206);
}

.send {
  margin-left: 190px;
  border: none;
  border-radius: 17px;
  background: linear-gradient(to bottom, #7fb8f2, #1470cb);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  margin-top: 20px;
  height: 35px;
  width: 130px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.send:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(63, 62, 62, 0.3);

}

.inmain .icon2 {
  margin: 30px 20px 0px 0px;
}

.inmain .icon2 svg:hover {
  color: #0563bb;
}

.icon2 .location {
  width: 23px;
  height: 23px;
}

.icon2 .email {
  width: 23px;
  height: 23px;
  margin-top: 65px;
}

.icon2 .phone {
  width: 23px;
  height: 23px;
  margin-top: 70px;
}

.address a {
  text-decoration: none;
  font-size: 20px;
  color: #474545;
  font-weight: 100;
}

.imageabout {
  /* background-color: #ba5050;*/
}

.imageabout img {
  height: 50vh;
}

.mains .information {
  /* background-color: aquamarine;*/
  height: 80vh;
  width: 50vw;
}

.information li span {
  color: blue;
  font-weight: bold;
}

.information2 li span {
  color: blue;
  font-weight: bold;
}

.mains .image {
  /*  background-color: #ba5050;*/
  height: 80vh;
  width: 30vw;
}

.insmain {
  width: 80vw;
  height: 80vh;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.insmain .image {
  width: 20vw;
}

.insmain .information {
  width: 30vw;
  font-size: 18px;
  /*background-color: aqua;*/
}

.insmain .information {
  width: 30vw;
  font-size: 18px;
  /*background-color: aqua;*/
}

.mains .about {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
}

ul li {
  margin-top: 70px;
  font-size: 19px;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
}

.insmain .image img {
  width: 270px;
  height: 290px;
  margin-top: 75px;
}

.mains .skill progress {
  width: 35vw;
    max-width: 100%;
}

.skill {
  display: flex;
  padding-bottom: 80px;
}

.skill .left {
  /* background-color: bisque;*/
  width: 50%;
}

.skill .right {
  /*background-color: blue;*/
  width: 50%;
}

.mains .skills .skillhead {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
}

.mains .para {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.full-resume {
  height: 100vh;
  width: 90vw;
  /* background-color: aquamarine; */

}

.full-resume .left-item {
  width: 40vw;
  flex-wrap: wrap;
}

.full-resume .right-item {
  width: 40vw;
  float: right;
  margin-top: -1010px;
  margin-left: 20px;
}

.full-resume .about {
  text-align: center;
}

.full-resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin: 21px 0px 20px 30px;
  color: #000000;
  position: static;
}

.full-resume .resume-item {
  padding: 0 0 20px 20px;
  width: 40vw;
  margin-left: 30px;
  border-left: 2px solid blue;
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Ysabeau SC', sans-serif;
}

.full-resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;

}

.full-resume .resume-item h2 {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Ysabeau SC', sans-serif;
  color: #0d55e5;
}

.resume-item h3 {
  color: #0652eb;
}

.resume-item ul li {
  margin: 3px 3px 3px 0px;
  font-size: 18px;
}

.resume-item p {
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Domine', serif;
  font-family: 'Roboto Slab', serif;
}

.cv {
  border: none;
  border-radius: 15px;
  background: linear-gradient(to bottom, #7fb8f2, #1470cb);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  height: 35px;
  width: 130px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.cv:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(63, 62, 62, 0.3);

}

@media (max-width:1250px) {
  * {
    margin: 0;
    padding: 0;
  }

  .mains {
    flex-wrap: wrap;
  }

  .mains .image {
    height: 45vh;
  }
  .insmain .image img{
    margin-top: 10px;
  }

  .insmain {
    display: block;
  }
  .sidebar{
    padding-left: 8px;
  }

  .skills {
    margin-left: 20px;
    margin-top: 650px;
  }
  .mains .para{
    font-size: 13px;
  }
  .full-resume .resume-item {
    width: 150vw;
    max-width: 100%;
  }
  .resume-item p, .resume-item h2,li{
    width: 90vw;
   
  } 
.skill .right{
  font-size: 11px;
}
.skill .left{
  font-size: 11px;
}
  .pic {
    display: none;
  }

  .sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;

  }

  .ham {
    display: block;
  }

  .cross {
    display: block;
  }

  .insmain .information {
    padding-right: 90px;
   
  }

  .insmain .information2 {
    float: left;
    margin: 0;
   
  }


  #name {
    width: 200%;
  }

  #email {
    width: 200%;
  }

  #subject {
    width: 200%;
  }

  #message {
    width: 200%;
  }

  #send {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .full-resume .right-item {
    width: 45vw;
    float: left;
    margin-top: 10px;
    margin-left: 0;
  }
}
